@import "tailwindcss";

@theme {
  --color-teqo: #8bbb04;
  --color-teqo-hover: #7aa204;
  --color-primary: #8bbb04;
  --color-secondary: #254C5A;
  --color-secondary-hover: #1a3a47;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
               'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f9fa;
  transition-duration: 5000ms;
}

#root {
   padding: 1rem;
}