@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@theme {
  --color-teqo: #8bbb04;
  --color-teqo-hover: #7aa204;
  --color-primary: #8bbb04;
  --color-secondary: #254C5A;
  --color-secondary-hover: #1a3a47;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
               'Helvetica Neue', Arial, sans-serif;
  background-color: beige;
}


#root {
  /* display: flex;
  flex-direction: column; */
  /* min-height: 100vh;
   */
   padding: 1rem;
}